<mat-sidenav-container>
  <mat-sidenav #sidenav role="navigation">
    <p>Menu</p>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <div>
        <button mat-icon-button (click)="sidenav.toggle()">
          <mat-icon>menu

          </mat-icon>
        </button>
      </div>
      <div>
        LOGO
      </div>
      <div fxFlex fxLayout fxLayoutAlign="flex-end">
        <ul fxLayout fxLayoutGap="10px" class="navigation-items">
          <li routerLink="/signup">Signup</li>

          <li routerLink="/login">Login</li>

          <li routerLink="/training">Training</li>
        </ul>
      </div>

    </mat-toolbar>
    <main>
      <router-outlet></router-outlet>
    </main>


  </mat-sidenav-content>

</mat-sidenav-container>