<H1 class="welcome-header">Welcome {{name}}</H1>


<div class="container">

  You can manage your todos<div class="btn-div"> <a routerLink="/todos" class="btn btn-primary">Here</a></div>
</div>

<div class="container">
  <span>Click to get a customized message</span>

  <div class="btn-div">
    <button (click)="getWelcomeMessageWithParam()" class="btn btn-success">Click me!</button></div>
</div>

<div class="container" *ngIf=welcomeMessage>
  <span>Your customized message</span>

  <div class="btn-div">
    {{welcomeMessage}}</div>
</div>
