.container{
    margin-top: 30px;
    display:flex;
    flex-direction: column;
    justify-content: center;

}
.btn-div{
  margin-top: 30px;
}
.welcome-header{
  margin-top: 20px;
  font-weight: bold;

}
